#three-container {
	margin: 0;
	overflow: hidden;
  cursor: move;
  height: 100vh;
}
html,
body {  
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;  
  font-family:'acumin-pro',sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: din-condensed, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000;
}
h1 {
  font-size: 100px;  
}
h2 {
  font-size: 60px;  
}
h3 {
  font-size: 40px; 
  letter-spacing: 1px; 
}
h4 {
  font-size: 26px;
}
p {
  font-size: 16px;
  color: #000;
}
img {
  max-width: 100%;
}
.sub-title {
  font-size: 18px;
}
.p-0  {
  padding:0;
}
.m-0 {
  margin: 0;
}
.px-20 {
  padding-left: 20px;
  padding-right: 20px;
}
canvas.draw {
  height: 100vh;
  background: #000;
  display: block;
  margin-bottom: 70px;
  overflow: hidden;
  width: 100%;
}
.txt-alt {
    color: #666;
}
.txt-light {
  color:#fff;
}
.d-flex {
  display: flex;
  flex-wrap: wrap;
}
.align-items-center {
  align-items: center;
}
.justify-content-center {
  justify-content: center;
}
.mb-40 {
  margin-bottom: 40px;
}
html .slides,
body .slides,
html > .dg,
body > .dg {
  display: none;
}
.pos-rel {
  position: relative;  
}
.pos-abs {
  position: absolute;
}
.abs-bl-30 {
  bottom: 30px;
  left: 30px;
}
.stack-9 {
  z-index: 9;
}
a {
  display: inline-block;
}
nav.navigation ul li a:hover {
  color: #ef0e34;
}
.sec-space {
  margin-bottom: 70px;
}

.dg.ac {
  display: none;
}
.container {
  max-width: 1660px;
  width: 90%;
  margin: 0 auto;  
}
.holder {
  max-width: 1370px;  
}
.holder-sm {
  max-width: 920px;
}
.holder-md {
  max-width: 1150px;
}
.holder,.holder-sm,.holder-md {
  padding:0 20px;
  margin: 0 auto;
}
.site-header {
  padding: 20px 0;  
  position: fixed;
  z-index: 999;  
  width: 100%;
  top: 0;
  left: 0;
  animation: slideInDown .8s ease;  
}
.toggle {
  position: relative;  
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: none;
}
.fg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 15px;
}
.head-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.toggle .fg em {
  position:absolute;
  content:'';
  background: #000;  
  width: 25px;
  height: 2px;
  transition: all 0.2s ease-in-out;
}
.toggle .fg em:first-child {
   top: -10px;
}
.toggle .fg em:last-child {
  top: 10px;
}
.black-logo {
  display: none;
}
header {
  background: transparent;
  transition: all 0.3s ease;
}

.open-menu  .toggle .fg em:first-child {
  display: none;
}
.open-menu  .toggle .fg em:nth-child(2) {
  transform:rotate(45deg);
}
.open-menu  .toggle .fg em:last-child {
  top: 0;
  transform:rotate(-45deg);
}
.open-menu .logo {
  display: none;
}
.open-menu .black-logo {
  display: block;
}
.open-menu .toggle .fg em {
  background: #000 !important;
}
.open-menu .navigation ul li a {
  color: #000;
}
header .container:before,header .container:after {
  display: none;
}

/***** REUSE *******/
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  text-transform: uppercase;
  border: 2px solid transparent;
  white-space: nowrap;
  padding: 17px 40px;
  font-size: 13px;
  line-height: 1.42857143;
  border-radius: 0; 
  user-select: none;
}
.btn-blk-bor {
  border-color: #000;
  color: #fff;
  background: #000;
}
.btn-blk-bor:hover {
  color: #000;
  background: transparent;
}
a{
  color: #000;
}
a:hover {
  color: #f26321;
}
a, a:active, a:focus,a:hover {
  text-decoration: none;
}
.mb-20 {
  margin-bottom: 20px;
}
.pos-rel {
  position: relative;
}
.bottom-right {
  bottom: 0;
  right: 0;
}
.top-left {
  top: 0;
  left: 0;
}
.site-layer {
  background: rgba(0, 0, 0, .5);
  position: fixed;
  display: none;
  z-index: 90;
}
.open-menu .site-layer {
  display: block;
}
/******* common ***********/
.sub-head p{
    letter-spacing: 1px;
}
.view-next-prev {
  bottom: -25px;
  right: -45px;
}
.view-next-prev .view-all {
  font-weight: bold;
  position: absolute;
  bottom: -30px;
  right: 15px;
  text-transform: uppercase;
}
.view-next-prev .prev {
  float: left;
}
.view-all {
  font-size: 13px;
  font-weight: bold;
}

/******* navigation *********/

nav.navigation ul {
  display: flex;
  list-style-type: none;
  margin-bottom: 0; 
}
nav.navigation ul li { 
  padding: 0 55px;
}
nav.navigation ul li a {  
  font-size: 16px;
  text-decoration: none;  
  transition: all 0.3s ease;
}

nav.navigation ul li {
  transition: .4s ease;  
  opacity: 0;
}

.open-menu nav.navigation li {
  transform: translateY(0);
  opacity: 1;
}

.logo-wrap .logo{
  display: inline-block;
  position: relative;
}

.logo-wrap .logo img{
  transition: all 0.5s ease 0s;
}

.logo-wrap .logo .white{
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

/***** full page  *******/



/******* our service *********/
.our-service-blog a>div {
    padding-right: 30px;
    z-index: 1;
}
/********* our works ********/
.our-works-sec .item {
  position: relative;
}
.our-works-sec .item:before {
  position: absolute;
  content:'';
  background:rgba(0,0,0,0.6);
  width: 100%;
  height:100%;
  left:0;
  top:0;
}
.our-works-sec .item>img {
  width: 100%;
  height: 100vh;
}
.our-works-sec .work-name {
  position: absolute;
  content:'';
  top: 10%;
  left:50%;
  transform:translateX(-50%);
}
.our-works-sec .pjt-name {
  position: absolute;
  content:'';
  top: 50%;
  left: 68%;
  transform: translate(-50%,-50%);
}
.our-works-sec .pjt-name h1 {
  letter-spacing: 15px;
}


.pjt-name a {
  letter-spacing: 1px;
}
.pjt-name .icon-left-small:before {
  transform:rotate(125deg);
  font-size: 13px;
}
.our-works-banner  .slick-slide { 
  height: 100vh;
}
.our-works-sec .view-all{
  position: absolute;
  content:'';
  bottom: 70px;
  right: 100px;
}
.our-works-sec .view-all a {
  color: #fff;
}
/*** our-perspective ********/
.our-perspective-sec .item {   
    position: relative;
}
.perspective-content {  
  bottom: 60px;
  left: -85px;
}
.perspective-content h2 {
  letter-spacing: 5px;
}
.perspective-content p {
  font-size: 26px;
}
.bg-img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;    
}
.post-category {
    position: absolute;
    top: 45px;
    left: 0;
    transform: rotate(-90deg);
    padding: 12px 0;
    background: #f26321;
    color: #fff;
    font-size: 16px;
    width: 140px;
    text-align: center;
}
 .slick-arrow {
    background-color: #000;
    border: 0;
    font-size: 20px;
    height: 45px;
    outline: 0;
    width: 45px;
    z-index: 1;
    padding: 0;
    color: #fff;
}
.slick-arrow:hover {
  background-color: #f26321;  
}
.slick-arrow.next.icon-left-small:before {
    transform:rotate(180deg);
}
.text-slider {
  position: absolute;
    top: 0;
    left: -70px;
    right: 0;
    bottom: 0;
}

/****** testimonial *******/
.testimonial-sec .item {
  position: relative;
}
.testimonial-sec .company-logo {
  position: absolute;
  top:0;
  left:0;
  background: #000;
  padding: 25px 15px;
}
.testimonial-sec .customer-content {
   padding: 200px 0;
   background: #f2f5f8;  
}
.testimonial-sec .customer-content p{
  font-size: 30px;
  font-style: italic;   
  font-weight: 300;
  line-height: 2;
}
/****** video-section********/
.home-video-sec .video-sec {  
  width: 100%;
  position: relative;
  padding: 0;
}
.video-sec .video-content {
  width: 100%;
  height: 500px;
  display: block;  
}
.video-content:before {
  position: absolute;
  content:'';
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background:rgba(0,0,0,0.5);
  opacity: 0.7;
}


.video-play-button {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-sizing: content-box;
  display: block;
  width: 20px;
  height: 20px;
  /* background: #fa183d; */
  border-radius: 50%;
  padding: 18px 20px 18px 28px;
}

.video-play-button:before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 100px;
  height: 100px;
  background: rgba(255,255,255,.3);
  border-radius: 50%;
  animation: pulse-border 1500ms ease-out infinite;
}

.video-play-button:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 70px;
  height: 70px;
  background: #fff;
  border-radius: 50%;
  transition: all 200ms;
}

.video-play-button:hover:after {
  background-color: darken(#fa183d, 10%);
}

.video-play-button img {
  position: relative;
  z-index: 3;
  max-width: 100%;
  width: auto;
  height: auto;
}

.video-play-button span {
  display: block;
  position: relative;
  z-index: 3;
  width: 0;
  height: 0;
  border-left: 15px solid #fa183d ;
	border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;  
}
.video-play-button i {
    box-shadow: 0 0 0 2.5em rgba(255,255,255,.3);    
    display: block;
    position: relative;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    top: -10px;
    left: 30%;
    transform: translate(-50%,-50%);
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

/*** slick ******/
.slick-dots {
  position: absolute;
  list-style: none;
  bottom: 50px;
  left: 50%;  
  transform:translateX(-50%);
  padding: 0;
}
.slick-dots li {
    position: relative;    
    display: inline-block;
    width: 10px;
    height: 10px;
    cursor: pointer;
    margin: 8px 5px;
}
.slick-dots button {
   width: 10px;
   height: 10px;
   background:transparent;
   border: 0;
   outline: 0;
   font-size: 0;
}

.slick-dots button:before {
  position: absolute;
  content:'';
  font-size: 5px;
  width: 8px;
  height: 8px;
  top: 0;
  left: 0;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 50%;
}
.slick-dots li.slick-active button:before {
  background: #fff;
}

@media (min-width: 1000px) {  
  body > .dg {
    display: block;
  }
}
@media only screen and (min-width: 1200px) {
  nav.navigation ul li {    
    opacity: 1;    
  }
  nav.navigation ul li:last-child {
    padding-right: 0;
  }
  nav.navigation ul li a{     
    color: #000;
    transition: color 0.5s ease;
    position: relative;
  }  
  nav.navigation ul li a:before,nav.navigation ul li a:after {
    position: absolute;
    display: block;
    content:'';    
    bottom:-5px;
    width: 0;
    height: 2px;        
  }
  nav.navigation ul li a:before{        
    left: 0;
    background: #ef0e34;
    transition: width 0.5s ease,background .5s ease;
  }
 
  nav.navigation ul li a:hover:before {
    width: 10px; 
    background: #ef0e34;
    -webkit-transition: width .5s ease;
    transition: width .5s ease;   
   }
 
  .open-menu nav.navigation {
    margin-left: -50px;
  }
  .our-service-sec .our-service-blog a:before{
    position: absolute;
    background: #000;
    content:'';
    left:0;
    top:0;
    width: 100%;
    height: 100%; 
    transition:width 0.5s ease;   
  }
.our-service-blog.active a:before{
      width: 0;      
}
.our-service-sec .our-service-blog a:after{
  position: absolute;
  content:'';
  left:0;
  top:0;
  width: 100%;
  height: 100%;
  background:rgba(0,0,0,0.5);
  opacity:1;
}
.fp-viewing-0 .black,
.fp-viewing-2 .black{
  opacity: 0;
}

.fp-viewing-1 .white{
  opacity: 0;
}

.fp-viewing-0 .toggle .fg em,
.fp-viewing-2 .toggle .fg em{
  background: #ffffff;
}
.fp-viewing-0 .navigation  li a,
.fp-viewing-2 .navigation  li a{
  color: #ffffff;
}
}
@media only screen and (min-width: 992px) {
  .px-md-30 {
    padding-right: 30px;
    padding-left: 30px;
  }
  .our-service-sec {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;    
  }
}
@media only screen and (max-width: 1366px) {
  nav.navigation ul li { 
    padding: 0 35px;
  }
}
@media only screen and (max-width: 1200px) { 
  .toggle {
    display: block;
  }
  .site-header {
    background: #fff;
    box-shadow: 0 -3px 8px 4px #cecece
  }
  nav.navigation {    
    background: #fff;
    height: 100%;
    position: fixed;    
    right:0;  
    top: 0;
    transform:translateX(100%);
    transition:  0.3s ease;  
    width:250px;
  }
  nav.navigation ul {
    display: block;
    padding-top: 100px;
  }
  nav.navigation ul li {
    padding: 20px;
    transform: translateX(-20px);
  }
  .open-menu nav.navigation {    
    transform: translateX(0);
  }   
  .open-menu nav.navigation li {
    transform: translateX(0);
    opacity: 1;
  }
  body.open-menu {
    overflow: hidden;
  }
  .sec-space {
    margin-bottom: 60px;
  }
  .open-menu nav.navigation li:nth-child(1){
    transition-delay: .2s;
  }  
  .open-menu nav.navigation li:nth-child(2){
    transition-delay: .4s;
  }
  .open-menu nav.navigation li:nth-child(3){
    transition-delay: .6s;
  }
  .open-menu nav.navigation li:nth-child(4){
    transition-delay: .8s;
  }
  .open-menu nav.navigation li:nth-child(5){
    transition-delay: 1s;
  }
  .open-menu nav.navigation li:nth-child(6){
    transition-delay: 1.2s;
  }
  .open-menu nav.navigation li:nth-child(7){
    transition-delay: 1.4s;
  }
  .open-menu nav.navigation li:nth-child(8){
    transition-delay: 1.6s;
  }
  .our-works-banner .slick-slide {
    height: 500px;
}
}
@media only screen and (max-width: 992px) {
  .sec-space {
    margin-bottom: 50px;
  }
  h1 {
    font-size: 80px;  
    letter-spacing: 10px;
  }
  h2 {
    font-size: 50px;  
  }
  h3 {
    font-size: 35px; 
    letter-spacing: 1px; 
  }
  .our-service-content {
    text-align: center;
    margin-bottom: 20px;
  }
  .video-sec .video-content { 
    height: 300px; 
}
  
}
@media only screen and (max-width: 767px) {
  .our-service-blog:nth-child(3){
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 480px) {
  .our-works-sec .pjt-name h1 {
    font-size: 60px;  
    letter-spacing: 5px;
  }
  h2 {
    font-size: 40px;  
  }
  h3 {
    font-size: 30px; 
    letter-spacing: 1px; 
  }  
  .sub-title {
    font-size: 16px;
}
  .our-service-blog {
    padding: 0;
  }
  .our-works-sec .work-name {
    max-width: 300px;
    width: 100%;
  }
  .our-works-sec .view-all { 
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
}
  .btn {
    padding: 10px 20px;
}
/* .holder, .holder-sm, .holder-md {
  padding: 0; 
  } */
}

/************ new design *************/
.main-text {
  position: absolute;
  top: 50%;  
  left:28%;
  transform: translate(-50%,-50%);    
}
.main-text h1 {
  color: #fff;
  letter-spacing: 10px;
}
.main-text h1:after {
  position: absolute;
  content: '';  
  height: 5px; 
  background: #ef0e34;
  animation: moving 2s infinite;   
  animation-delay: 2s; 
  transform: scaleX(0);
  transform-origin: left center;  
  transition: opacity .15s;
  left: 5px;
  width: 80px;  
}
@keyframes moving {
  0% {
    transform: scaleX(0);
    transform-origin: left center;
}
10% {
    transform: scaleX(0);
}
30% {
    transform: scaleX(1);
    transform-origin: left center;
}
31% {
    transform: scaleX(1);
    transform-origin: right center;
}
50% {
    transform: scaleX(0);
}
100% {
    transform: scaleX(0);
    transform-origin: right center;
}
}
.main-text h1 div {
  display: block;
  margin-bottom: 15px;
}
.main-text p {
  color: #fff;
  font-size: 18px;
  letter-spacing: 1.5px;
  padding-top: 30px;
}
.banner-txt {
  position: relative;
}
.banner-txt:before {
  position: absolute;
    content: attr(data-text);
    left: 0;
    height: 100%;
    transition: all 1.2s ease;   
    overflow: hidden;
    width: 0;
}
.banner-txt:hover:before {  
    color: #ef0e34;
    transform: none;
    width: 100%;
}
